.Description
    display: grid
    grid-template-columns: auto 1fr
    column-gap: 2.25rem
    max-width: 1000px
    margin: 6rem auto
    padding: 2rem 2.5rem
    border-radius: 1.375rem
    align-items: center

    &__imageContainer
        position: relative
        width: 500px
        height: 300px
        // margin: 1rem

        & img
            object-fit: cover
            // justify-content: space-around
            border-radius: 1.2rem
            -webkit-box-shadow: 8px 6px 66px 3px rgba(252,252,252,0.79)
            -moz-box-shadow: 8px 6px 66px 3px rgba(252,252,252,0.79)
            box-shadow: 8px 6px 66px 3px rgba(252,252,252,0.79)

    & h2
        font-size: 3rem

    & p
        font-size: 2.5rem

    & div
        display: flex
        flex-direction: column
        justify-content: center
