.Description
    display: grid
    grid-template-columns: auto 1fr
    gap: 2rem
    align-items: start
    margin: 5rem

    & img
        margin: 1rem
        justify-content: space-around
        border-radius: 1.2rem
        -webkit-box-shadow: 8px 6px 66px 3px rgba(252,252,252,0.79)
        -moz-box-shadow: 8px 6px 66px 3px rgba(252,252,252,0.79)
        box-shadow: 8px 6px 66px 3px rgba(252,252,252,0.79)

    & h2
        font-size: 3rem

    & p
        font-size: 2.5rem

    & div
        display: flex
        flex-direction: column
        justify-content: center
